<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の編集</h2>
  <form action="/samoran/update/<%= data.id - 1 %>" method="POST">
    <table>
      <tr><th>項目</th><th>データ</th></tr>
      <tr><td>ID</td><td><input type="text" name="code" value="<%= data.id %>"></td></tr>
      <tr><td>名前</td><td><input type="text" name="name" value="<%= data.name %>"></td></tr>
      <tr><td>種類</td><td><input type="text" name="kind" value="<%= data.kind %>"></td></tr>
      <tr><td>攻撃方法</td><td><input type="text" name="attack" value="<%= data.attack %>"></td></tr>
      <tr><td>正規討伐方法</td><td><input type="text" name="deth" value="<%= data.deth %>"></td></tr>
      <tr><td>別途討伐方法</td><td><input type="text" name="power" value="<%= data.power %>"></td></tr>
    </table>
    <input type="submit" values="登録">
  </form>
  <a href="/samoran/">シャケ一覧に戻る</a>
</body>
</html>